/* Sets the font for the entire html page */
body {
    font-family: sans-serif;
}

/* Center the title of the page */
h1 {
    width: 100%;
    text-align: center;
}

/* Increse the font size for all the normal text: paragraph, table heading, table data */
p, th, td {
    font-size: larger;
}

/* Increase the font size for the buttons */
button {
    font-size: medium;
}

/* Set the default size for new note text box */
textarea {
    width: 275px;
    height: 140px;
}

/* Add styling to the button */
button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid black 1px;
    margin-top: 0.5rem;
}

/* Center the 'button' div */
.button {
    text-align: center;
}

/* The following 2 styles will keep chosen buttons the same width */
.button-width {
    width: fit-content;
}

.button-width > button {
    width: 100%
}

/* Center an item on the page */
.centre {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

/* Styles table (sets it to half of the width of the page, improves border appearance */
table {
    width: 50%;
    border-collapse: collapse;
}

/* Creates the table borders */
table, th, td {
    border: solid black 1px;
}

/* Sets the table heading colour */
th {
    background-color: #efefff;
}

/* Table padding */
th, td {
    padding: 0.5rem;
}

/* Set table column sizes */
th:first-child {
    width: 100%;
}

/* Center the Delete button */
td:last-child {
    text-align: center;
}

/* Remove margins for all elements inside the table */
td * {
    margin: 0;
}